var Sequelize = require('sequelize')
  , FileSystem = require('fs')
  , Path = require('path')
  , Log = require('./log');

// Log config
// uncomment the following line to enable debugging
//Log.LogSettings.DEBUG = true;

// SQLite Config
var dbFile = __dirname + '/../data/db.sqlite';

if (!FileSystem.existsSync(Path.dirname(dbFile))) {
    FileSystem.mkdirSync(Path.dirname(dbFile));
}

module.exports = new Sequelize('cpl', 'cpl', null, {
    dialect: 'sqlite',
    storage: dbFile,
    logging: false // use value Log.sql to enable logging the SQL queries
});

/*
// PostgreSQL config
module.exports = new Sequelize('cpl', 'cpl', 'cpl', {
    dialect:    'postgres',
    logging:    false,

    protocol:   'tcp',
    username:   'cpl',
    password:   'cpl',
    host:       'localhost',
    port:       5432,
    database:   'cpl'
});
*/

// MySQL config
/*
module.exports = new Sequelize('cpl', 'cpl', 'cpl', {
    dialect: 'mysql',
    logging: false
});
*/
